{% extends "base.html" %}

{% block title %}New User Form{% endblock %}

{% block content %}
    <h1>Create User</h1>
    <form action="/users/new", method="post">
        <label for="first_name">First Name: </label><br>
        <input type="text" name="first_name" required><br>
        <label for="last_name">Last Name: </label><br>
        <input type="text" name="last_name"><br>
        <label for="image_url">Image URL: </label><br>
        <input type="text" name="image_url"><br>
        <button>Add New User</button>
    </form><br>
    <a href="/">Back to home</a>
{% endblock %}