{% extends "base.html" %}

{% block title %}User Edit Page{% endblock %}

{% block content %}
    <h1>Edit User</h1>
    <form action="/users/{{user.id}}/edit", method="post">
        <label for="first_name">First Name: </label><br>
        <input type="text" name="first_name" value="{{user.first_name}}" required><br>
        <label for="last_name">Last Name: </label><br>
        <input type="text" name="last_name" value="{{user.last_name}}"><br>
        <label for="image_url">Image URL: </label><br>
        <input type="text" name="image_url" value="{{user.image_url}}"><br>
        <button>Edit</button>
    </form><br>
    <a href="/">Back to home</a>
{% endblock %}
